@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');

body {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('shrine_blur.jpg');
  background-size: cover;
  background-attachment: fixed;
}

p {
  font-family: "Lato";
  font-size: 25px;
  text-align: center;
  line-height: 120%;
  margin-bottom: 20px;
  color: white;
  -webkit-text-size-adjust: none
}

a {
  color: aqua !important;
}

a:not(.thingLink):focus-visible {
  font-weight: bold;
}

img {
  -webkit-user-drag: none;
}

.smaller {
  font-size: 18px;
  line-height: 25px;
}

.box {
  width: 85%;
  border-radius: 20px;
  margin: 0 auto 30 auto;
  /* background-color: rgba(30, 30, 30, 0.8); */
  /* border: 4px solid black; */
  /* box-shadow: 7px 6px 2px rgba(0, 0, 0, 0.1); */
  padding: 10 0;
}

.ytlink {
  border: 2px solid black;
  border-radius: 3px;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
}

button {
  border: none;
  text-decoration: none;
	background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 10px 30px;
  width: 140px;
  margin: 5px 12px;
  text-align: center;
  cursor: pointer;
	color: white;
	font-family: "Lato";
  font-size: 16px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
}

.nameBox {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.socialIcon {
  height: 45px;
  margin: 0px 20px;
  transition-duration: 0.1s;
  transition-timing-function: ease-in-out;
}

.socialIcon:hover {
  transform: translateY(-5px)
}

a:focus-visible .socialIcon, .socialIcon:active {
  transform: translateY(-5px) scale(1.15);
}

.linkButton {
  display: inline-block;
  margin: 5px 12px;
}

.linkButton button {
  margin: 0 0;
}

button:hover, .tab:focus-visible:not(.selected), .linkButton:focus-visible, .tabScale:focus-visible {
  transform: scale(1.06);
  transition-duration: 0.1s;
}

.tab:focus-visible:not(.selected) {
  filter: saturate(2);
}

button:focus-visible, a:focus-visible {
  outline: none;
}

.tab {
  width: 175px;
}

.selected {
  background-color: rgba(255, 255, 255, 0.9);
  transform: scale(1.1);
  transition-duration: 0.1s;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 80px;
  font-family: "Baloo Thambi";
  text-align: center;
  color: #ff8000;
  line-height: 100%;
  text-shadow:
  -1.2px -1.2px 1.2px #000,
  1.2px -1.2px 1.2px #000,
  -1.2px 1.2px 1.2px #000,
  1.2px 1.2px 1.2px #000;
}

h2 {
  font-family: "Lato";
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

hr {
  width: 500px;
  border-color: rgba(255, 255, 255, 0.5);
}

.center { 
  text-align: center;
}

.small {
  font-size: 20px;
}

.videoBox {
  display: inline-block;
  width: 360px;
  height: 260px;
  overflow: hidden;
}

.sidescroll {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%, rgba(0,0,0,1) 90%, rgba(0,0,0,0) 100%);
}

.sidescroll::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: rgba(0, 0, 0, 0.33);
  border-radius: 5px;
}

.sidescroll::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  overflow: hidden;
  border-radius: 5px;
}

.thingLink {
  display: inline-block;
  text-decoration: none !important;
  margin: 10 10;
  width: 400px;
  height: 185px;
  max-height: 185px;
  overflow: hidden;
}

.thing {
  height: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  padding: 0 20;
  border-radius: 5px;
  vertical-align: middle;
}

.thingLink:hover, .thingLink:focus-visible {
  transform: scale(1.06);
  transition-duration: 0.1s;
  cursor: pointer;
}     

.thingTitle {
  margin-bottom: 0px;
  font-weight: bold;
}

.thing img {
  width: 32px;
  vertical-align: bottom;
  margin-right: 10px;
}

.randomArt {
  display: inline-block;
  max-width: 95%;
  vertical-align: top;
}

.randomArt .small {
  max-width: 600px;
}

.fanart {
  border-radius: 10px;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.25)) 
}

.fanartLink {
  display: inline-block;
  overflow: hidden;
}

.fanartLink:focus-visible {
  filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1)) 
}

.flipOnHover:hover {
  transform: scaleX(-1);
}

.nsfw {
  filter: blur(25px);
}

@media screen and (max-width: 1000px) {
  p { font-size: 20px; }
  .nameBox { width: 750px; flex-direction: column; }
  .socialIcon { height: 40px; }
  .box { width: 96%; padding: 5px 5px }
  .tab {
    width: 100px;
    padding: 10px 0px;
    height: 60px;
    vertical-align: top;
    margin-bottom: 10px;
  }
  .thingLink {
    width: 360px;
    max-height: 160px;
  }
  .thingInfo { font-size: 17px; margin-top: 10px; }
  .thing { padding: 0px 12px }
  .thing img { width: 25px }
}

.nameboxlogo {
  width: 20px;
}